!!!
%html{:lang => "en"}
  %head
    %title PROBLEMPEDIA | About Us
    %meta{:charset => "utf-8"}
    %link{:href => "assets/reset.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "assets/jquery-1.4.2.min.js", :type => "text/javascript"}
        %script{:src => "assets/cufon-yui.js", :type => "text/javascript"}
        %script{:src => "assets/cufon-replace.js", :type => "text/javascript"}
        %script{:src => "assets/Myriad_Pro_300.font.js", :type => "text/javascript"}
        %script{:src => "assets/Myriad_Pro_400.font.js", :type => "text/javascript"}
        %script{:src => "assets/script.js", :type => "text/javascript"}
          :css
            color:red;
  %body#page6
    / START PAGE SOURCE
    .wrap
      %header
        .container
          %h1
            %a{:href => "#"} PROBLEMPEDIA
          %nav
            %ul
              %li.current
                %a.m1{:href => ""} Home Page
              %li
                %a.m2{:href => "#"} PROBLEM
              %li
                %a.m3{:href => "#"} SEARCH PROBLEM
              %li
                %a.m4{:href => "#"} RULES
              %li.last
                %a.m5{:href => "/abouts"} ABOUT US
          %form#search-form{:action => "#"}
            %fieldset
              .rowElem
                %input{:type => "text"}
                  %a{:href => "#"} Search
      .container
        %aside
          %h3 Categories
          %ul.categories
            %li
              %span
                %a{:href => "/unsolveds"} Unsolved Problem
            %li
              %span
                %a{:href => "/solveds"} Solved Problem
            %li
              %span
                %a{:href => "#"} Search Problem
            %li
              %span
                %a{:href => "#"} Rules
            %li
              %span
                %a{:href => "/abouts"} More About Us
          
        %section#content
          #banner
            %h2
              PROBLEMPEDIA
              %span
                %span
                  %span
                    Delighted choice on your way        
                    %span 
                      Since 2014
         
           
   
