!!!
%html{:lang => "en"}
  %head
    - if session[:role] == nil
      - session[:role] = 0
    %title PROBLEMPEDIA | About Us
    %meta{:charset => "utf-8"}

  %body#page6
    / START PAGE SOURCE
    .wrap
      %header
        .container
          %h1
            %a{:href => "/"} PROBLEMPEDIA
          %nav
            %ul
              %li.current
                %a.m1{:href => "/"} Home Page
              %li
                %a.m2{:href => "/unsolveds"} UNSOLVED PROBLEM
              %li
                %a.m3{:href => "/solveds"} SOLVED PROBLEM
              %li
                %a.m4{:href => "/rules"} RULES
              %li.last
                %a.m5{:href => "/abouts"} ABOUT US

          %form#search-form{:action => "#"}
            %fieldset
              .rowElem
                - if session[:role] >= 1
                  - @user = session[:user]
                  %table{:border => "0"}
                    %tr
                      %td{:style => "text-align:right;"}
                        %h4 Welcome #{@user.username}
                    %tr
                      %td{:style => "text-align:right;"}
                        %a{:href => "logout" } Logout
                  

      .container
        %aside
          %h3 Categories
          %ul.categories
            %li
              %span
                %a{:href => "/unsolveds"} Unsolved Problem
            %li
              %span
                %a{:href => "/solveds"} Solved Problem
            %li
              %span
                %a{:href => "/rules"} Rules
            %li
              %span
                %a{:href => "/abouts"} More About Us




            - if session[:role] >= 1
              - @user = session[:user]
              %br
              %h2 Welcome #{@user.username}
              %h5
                %a{:href => "logout" } Logout
                - if session[:role] == 2
                  = link_to 'Manage user', users_path
    
    
            - else
              %div{:id => "error"}
                #notice= notice
              %form{:action => "check_user", :method => "post"}
                %div
                  Username
                  %input{:name => "username", :type => "text"}/
                %div
                  Password
                  %input{:name => "password", :type => "password"}/
                %input{:type => "submit", :value => "Login"}
                %input{:type => "reset", :value => "Reset"}
                                
          

          
        %section#content
          #banner
        



            
