%form{:action => "check_user", :method => "post"}
  %div
    Username
    %input{:name => "username", :type => "text"}/
  %div
    Password
    %input{:name => "password", :type => "password"}/
  %input{:type => "submit", :value => "Login"}
    %input{:type => "reset", :value => "Reset"}