-if session[:role] >= 1
  %h1 Editing unsolved

  = render 'form'

  = link_to 'Show', @unsolved
  \|
  = link_to 'Back', solveds_path
-else
  %div Please Login before use this session
  %a{:href => "/"} Click Here to login
