%h1 Editing solution
-if session[:role] >= 1
  = render 'form'

  = link_to 'Show', @solution
  \|
  = link_to 'Back', solutions_path
-else
  %div Please Login before use this session
  %a{:href => "/"} Click Here to login
